.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-navigationtoggle-icon1 {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity var(--animation-duration-fast)
      var(--animation-curve-primary);
}
 
.navigation-navigationtoggle-icon2 {
  top: 50%;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity var(--animation-duration-fast)
      var(--animation-curve-primary);
}
